name: Increment Version & Kick off template sync
on:
  pull_request:
    types: [closed]

jobs:
  increment-version:
    if: github.event.pull_request.merged == true && github.event.pull_request.base.ref == 'main'

    runs-on: ubuntu-latest # Force this to run on github-hosted runner by using a tag that does not exist on self-hosted runners

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      # See https://github.com/im-open/git-version for more details around how to increment major/minor/patch through commit messages
      - name: Increment the version
        uses: im-open/git-version-lite@v2.0.0
        with:
          create-ref: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
          default-release-type: major

      - name: Tell github-management to sync templates
        uses: actions/github-script@v4
        with:
          # You have to use something with write access to the repo. GITHUB_TOKEN
          # doesn't work because it doesn't have access to another repo.
          github-token: ${{ secrets.PIPELINE_BOT_PAT }} # This is an org level secret
          script: |
            github.repos.createDispatchEvent({
              owner: 'bc-swat',
              repo: 'github-management',
              event_type: 'sync_workflows'
            });
