# Implements https://github.com/im-enrollment/.github/blob/1b9ed2b04a06d0b25b390e447d1554271d4c5ee5/workflow-templates/im-deploy-az-app-manually.yml#L207

# Example Usage in a repo's workflow:
# jobs:
#  validate-tag-is-in-main-for-prod-deploys:
#    needs: [set-vars, stakeholder-approval, attestor-approval]
#    uses: im-practices/.github/.github/workflows/reusable-validate-production-tag.yml@v1
#    secrets: inherit
#    with:
#      tag: v1.2.3
#      environment: prod

name: Reusable - Validate Tag is ready for Production Deploys
on:
  workflow_call:
    inputs:
      environment:
        description: Environment running against
        required: true
        type: string

      tag:
        description: The tag that should be checked
        required: true
        type: string
      
      production-environment:
        description: Name of the production environment to check against
        required: false
        type: string
        default: prod
      
      base-branch:
        description: Default branch of which contains the tag
        required: false
        type: string
        default: main
      
      verify-release-production-ready:
        description: Verify associated release is not draft or prerelease
        required: false
        type: boolean
        default: true
        
      runs-on:
        description: Verify associated release is not draft or prerelease
        required: false
        type: string
        default: ubuntu-latest 

jobs:
  validate-tag-is-in-base-branch:
    runs-on: ${{ inputs.runs-on }} 

    env:
      IS_PROD: ${{ inputs.environment == inputs.production-environment }}

    steps:
      - run: echo "The current environment is ${{ inputs.environment }}.  The Tag is ${{ inputs.tag }}."

      # In this job, always checkout the default branch (not the tag that was provided as an input).  Also use
      # fetch-depth: 0 to retrieve the history and tags so we can check if a tag is reachable from the default branch.
      - name: Checkout Repository
        if: env.IS_PROD == 'true'
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.base-branch }}
          fetch-depth: 0

      - uses: im-open/is-tag-reachable-from-default-branch@v1
        if: env.IS_PROD == 'true'
        with:
          tag: ${{ inputs.tag }}

      - uses: im-open/is-release-production-ready@v1
        if: env.IS_PROD == 'true' && inputs.verify-release-production-ready == true
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-tag: ${{ inputs.tag }}
          fail-for-prerelease: true # This only runs for prod environments, so if the release is not production ready it should fail
